/* App.css */

.App {
  text-align: center;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Flex-box {
  height: 95vh;
  display: flex;
  justify-content: center;
  overflow: auto;
  border: 10px solid #8d87878a;
  border-radius: 10px;
}

.completed {
  font-weight: bold;
  background: #1c6f0f;
  color: white;
  display: block;
  height: 100%;
  height: 90%;
  border: 2px solid #705959;
  border-radius: 10px;
  margin-top: 10px;
}

.non-completed {
  font-weight: bold;
  background: #962828;
  color: white;
  display: block;
  height: 100%;
  height: 90%;
  border: 2px solid #705959;
  border-radius: 10px;
  margin-top: 10px;
}
